@media print {

    img {
        /* display: none; */
        max-width: 50%;
        /* height: auto; */
    }
    
    .sport-container {
        flex-direction: column;
    }

    .nav-bar {
        display: none;
    }

    .footer {
        display: none;
    }

    video {
        display: none;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }
}